@model HotDog.Models.Profile

@{
    ViewBag.Title = "Details";
}

<head>
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/Content/create.css"/>
</head>
<h2>Details</h2>

<div>
    <h4>Hot Dog Lover Profile</h4>
    <p>
        @Html.ActionLink("Change", "Edit", new { id = Model.ProfileID }) 
        
    </p>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <img src="@Url.Content("~/Images/hotdog.jpg")" style="max-width:300px; max-height: 500px;" title="click to view in a new window or tab" />
                <br />
                <br />
                
                <ul >
              <li> <h4>Favorite Hot Dog:</h4>  @Html.DisplayFor(m => m.Favorite)</li>
                    
             <li><h4> Location Eaten:</h4>  @Html.DisplayFor(m => m.Location)</li>
                </ul>
               
                

            </div>
            

        
      
            <div class="col-md-8">
               <h2> @Html.DisplayFor(m=> m.Name, "NameTemplate")</h2>
                <div class="bio">
               <h4>Biography:</h4> 
               @Html.DisplayFor(m => m.Bio )
                    </div>
                <br />
                <br />

        <h4>Most Recently Eaten Dog:</h4>
                <ul>
                    <li>@Html.DisplayFor(m=>m.Dog)

                    </li>
                </ul>
            </div>
        </div>
   

<p>@Html.ActionLink("Back to List", "Index")</p>

</div>

</div>